.promo {
    min-height: 650px;
    padding-top: 21px;
    background: url("./../assets/img/main.jpg") center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 112px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto 20px auto;
        }
    }

    &__link {
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        margin-top: 18px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            margin-top: 45px;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 340px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 0;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 315px;
        }
    }
}